Source: nornet-ca
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@simula.no>
Homepage: https://www.nntb.no/
Build-Depends: cmake,
               debhelper (>= 9),
               libfile-fcntllock-perl
Standards-Version: 4.3.0
Vcs-Git: https://github.com/dreibh/nornet-ca.git
Vcs-Browser: https://github.com/dreibh/nornet-ca/tags

Package: nornet-ca
Architecture: all
Depends: ca-certificates,
         ${misc:Depends},
         ${shlibs:Depends}
Description: NorNet Root CA
 This package contains the NorNet Root CA certificate.
 .
 See https://www.nntb.no for details on NorNet!
